@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.empty {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px black;
    border-radius: 10px;
    background: white;
}

.fill {
    background-image: url('https://picsum.photos/200');
    height: 145px;
    width: 145px;
    cursor: grab;
}

.hold {
    border: solid 3px #ccc;
    opacity: 0;
}

.hovered {
    background-color: #333;
    border-color: white;
    border-style: dashed;
}

@media (max-width: 800px) {
    body {
        flex-direction: column;
    }
}